body{
	background-color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	/*font-family: 'Roboto', sans-serif;*/
}

.navbar-default .navbar-nav>li>a {
	color: #151b28;
	background-color: #fff;
}
.navbar-default{
	background-color: #fff;
	height: 120px;
	margin-bottom: 0;
	border-bottom: 1px solid #e6e6e6;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:active {
	background-color: #fff;
	color: #d89b64;
	transition: 0.4s;
}
.navbar-default .navbar-nav>li>a {
 	background-color: #fff;
 }
 .navbar-brand>img {
 	display: inline;
}
.nav  li{
    z-index: 2;
}
	.navbar-toggle {
    margin-top: 20px;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
     background-color:#d89b64;
}
header {
	margin-bottom: 30px;
}
.menu-title {
	background-image: url(../images/gratia.png);
	background-repeat: no-repeat;
	/*text-align: center;*/
	background-position: center center;
	/*vertical-align: middle;*/
	height: 200px;
	margin-top: 50px;
}
.menu-title h1 {
	font-size: 48px;
	font-weight: 700;
	text-transform: uppercase;
	padding-top: 50px;
}

.secondary-text {
	font-family: 'Crimson Text', serif;
	color: #8b909d;
	font-size: 20px;
	font-style: italic;
	font-weight: 200;
}
.media:first-child {
    margin-top: 15px; 
}
.description {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.5;
}
.btn-back {
	margin-bottom: 20px;
}
.btn-submit {
	padding-left: 0;
}
.radio-stars {
    line-height: 1;
}
.form-stars label {
	font-size: 17.5px;
	font-weight: 500;
}
.panel dl,
.media .media-body,
.row-content p,
.table-responsive {
	font-size: 15px;
}
.row-footer {
	margin-top: 80px;
	border-top: 1px solid #e6e6e6;
}

.footer-logo {
    position: relative;
    transform: translateY(-50%);
    text-align: center;
  }
.footer-text {
	margin-top: -60px;
}
p.question {
	margin-top: -5px;
}
.info-user p,
.info-address {
	font-family: 'Crimson Text', serif;
}
.media {
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px;
   	box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px;
}
.media-img {
    width: 250px;
    padding: 20px;
}
.media-leader {
   padding: 20px;
}
.media-menu {
	width: 350px;
}
.media-list-menu .media {
	padding:20px;
}



@media (min-width: 768px) {
	
	.navbar-brand>img {
    	padding-left: 80px;
     }
    .navbar-nav>li {
    	float: left;
	}
	.pull-right {
		float: left;
	}
	.nav.navbar-nav {
    margin-top: 15px;
    float: right;
	}	
	

}

@media (max-width: 768px) {
	.navbar-default{
		height: 80px;
	}
	 .navbar-nav ul {
		width: 100%;
	}
	.menu-title {
		background-image: url(../images/gratia477.png);
		margin-top: 0;
		height: 150px;
	}
	.menu-title h1 {
		font-size: 38px;
	}
	.dish-info {
		font-size: 17px;
		font-weight: 500;
	}
	.media-img {
		width: 200px;
		padding: 20px 0 20px 20px;
	}
	.leader .media-leader p {
		font-size: 13px;
		font-weight: 300;
	}
	.leader .media-leader h2 {
		font-size: 20px;
		font-weight: 600;
	}
}

@media (max-width: 548px) {
	.menu-title {
	background-image: url(../images/gratia315.png);
	margin-top: 0;
	height: 120px;
	}
	.menu-title h1 {
	font-size: 26px;
	}
	.secondary-text {
	font-size: 15px;
	line-height: 15px;
	}
	.dish-info {
		font-size: 12px;
		font-weight: 500;
	}
	.dish-info h2 {
		font-size: 18px;
		font-weight: 500;
	}
	.panel dl,
	.media .media-body,
	.row-content p,
	.table-responsive {
		font-size: 13px;
		font-weight: 400;
	}
	
	.leader .media-leader p {
		font-size: 11px;
		font-weight: 300;
	}
	.leader .media-leader h2 {
		font-size: 18px;
		font-weight: 600;
	}
    
}
@media (max-width: 480px) { 
    .nav-tabs > li {
        float:none;
    }
    .leader .media-leader p {
		font-size: 10px;
		font-weight: 300;
	}
	.leader .media-leader h2 {
		font-size: 16px;
		font-weight: 600;
	}
	.media-img{
		width: 180px;
	}
    
}