 <footer class="row-footer">
        <div class="container">
              <div class="row">             
                <div class="col-xs-12">
                    <p align=center class="footer-logo"><img src="images/footer-logo.png" alt=""></p>
                    <div class="footer-text">
                        <p align=center>Gratia Restaurant</p>
                        <p align=center><span>© All rights reserved</span></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>