 <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button"  data-toggle="collapse" class="navbar-toggle collapsed" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/"><img src="images/logo.png">Gratia</a>
            </div>
             <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" ng-controller="NavigationCtrl">
                    <li ng-class="{ active: isCurrentPath('/') }"><a ui-sref="app">Home</a></li>
                    <li ng-class="{ active: isCurrentPath('/aboutus') }"><a ui-sref="app.aboutus">About</a></li>
                    <li ng-class="{ active: isCurrentPath('/menu') }"><a ui-sref="app.menu">Menu</a></li>
                    <li ng-class="{ active: isCurrentPath('/contacts') }"><a ui-sref="app.contacts">Contact</a></li>
                </ul>
       </div>
    </div>
  </nav> 
  <div class="container">
  <div class="row">
    <div class="col-xs-12">
        
       <header>
    <div class="menu-title">
        <h1 class="text-center">Our restorante</h1>
        <p class="text-center secondary-text">Lorem ipsum dolor sit amet.</p> 
    </div>
</header>
    </div>
  </div>
</div>


       
 